<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><ul class="toc-item"><li><span><a href="#Libraries" data-toc-modified-id="Libraries-0.1"><span class="toc-item-num">0.1&nbsp;&nbsp;</span>Libraries</a></span></li></ul></li><li><span><a href="#Data" data-toc-modified-id="Data-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Data</a></span></li></ul></div>

**Goal**: <br>
Use a Naive Bayes algorithm to classify SMS messages as spam or not spam.

Spam messages frequently contain words like:
- free
- win
- winner
- cash
- prize

And they also are more likely to use capital letters or excalamation marks

The Naive Bayes theorem uses conditional probability to infer new probabilities from known probabilities.
We can calculate the probability of some event occuring, based on the probabilities of various other features that are assumed to be independent of each other.

## Libraries

In [4]:
import pandas as pd
import os

# Data
Text messages from the [UCI Machine Learning Repository](https://archive.ics.uci.edu/ml/datasets/SMS+Spam+Collection)

In [6]:
pd.read_table(os.path.join('data', 'smsspamcollection', 'SMSSpamCollection'))

,ham,"Go until jurong point, crazy.. Available only in bugis n great world la e buffet... Cine there got amore wat..."
0,ham,Ok lar... Joking wif u oni...
1,spam,Free entry in 2 a wkly comp to win FA Cup fina...
2,ham,U dun say so early hor... U c already then say...
3,ham,"Nah I don't think he goes to usf, he lives aro..."
4,spam,FreeMsg Hey there darling it's been 3 week's n...
...,...,...
5566,spam,This is the 2nd time we have tried 2 contact u...
5567,ham,Will ü b going to esplanade fr home?
5568,ham,"Pity, * was in mood for that. So...any other s..."
5569,ham,The guy did some bitching but I acted like i'd...
5570,ham,Rofl. Its true to its name